
.selected {
    color: blue;
}
.highlight {
    background: yellow;
}

div{color: #000;
}
span {
    color: #ffd700;
}

div {
    border: 2px dashed #000000;
}
p {
    background: #ffd700;
    margin: 2px;
}

h1,h2,h3{
    text-align: center;
    color: #800;
}