/*.serializeArray()*/

body, select {
    font-size: 14px;
}
form {
    margin: 5px;
}
p {
    color: red;
    margin: 5px;
}
b {
    color: blue;
}


/*.serializeArray()*/
/*body, select {*/
    /*font-size: 14px;*/
/*}*/
/*form {*/
    /*margin: 5px;*/
/*}*/
/*p {*/
    /*color: red;*/
    /*margin: 5px;*/
/*}*/
/*b {*/
    /*color: blue;*/
/*}*/

img {
    height: 100px;
    float: left;
}
